.useCases .container {
  display: block;
  padding: 0 23px;
  max-width: 1346px;
  position: relative;
  z-index: 3;
}

.useCases.heading {
  background-color: #FBFBFB;
  padding: 10px 0;
  margin-bottom: 33px;
}

.useCases .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
}

.useCases .tabs {
  background-color: #FBFBFB;
  display: flex;
  overflow-x: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  margin-bottom: 35px;
}

.useCases .tab-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: #3C3B3E;
  margin-right: 25px;
  padding: 11px 15px;
  cursor: pointer;
}

.useCases .tab-link:last-child {
  margin-right: 0;
}

.useCases .tab-link.current {
  background-color: #42B16F;
  border-radius: 50px;
  color: #fff;
}

.useCases .tab-content-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #3C3B3E;
  text-align: center;
  margin-bottom: 13px;
}

.useCases .tab-content-list {
  margin-bottom: 45px;
}

.useCases .tab-content-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  display: flex;
  margin-bottom: 15px;
}

.useCases .tab-content-item::before {
  content: '\2022';
}

.useCases .tab-content-text {
  padding-left: 5px;
}

.useCases .tab-content {
  display: none;
}

.useCases .tab-content.current {
  display: block;
}

.useCases .tech-tab-title {
  white-space: nowrap;
}

.useCases-heading {
  margin-bottom: 30px;
}

.useCases-heading__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  color: #333333;
}

.useCases-picture {
  max-width: 400px;
  display: block;
  margin: 0 auto 30px;
}

.useCases-description__subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  color: #333333;
  margin-bottom: 14px;
}

.useCases-description-list {
  font-style: italic;
  padding-left: 15px;
  list-style: decimal;
  margin-bottom: 25px;
  display: inline-block;
  vertical-align: top;
  margin-right: 56px;
  max-width: 206px;
}

.useCases-description-list:last-child {
  margin-right: 0;
}

.useCases-description-item {
  list-style: inherit;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #333333;
}

.useCases-description-text__paragr {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #333333;
}

.useCases-page {
  position: relative;
  z-index: 3;
}

.useCases-page .container {
  display: block;
  padding: 0 23px;
  max-width: 1346px;
  position: relative;
  z-index: 3;
}

.useCases-page .easy-item-link {
  background-color: #fff;
}

.useCases-page .heading {
  margin-bottom: 35px;
}

.useCases-page .steps {
  margin-bottom: 60px;
}

.useCases-page .steps-item {
  max-width: 400px;
  margin: 0 auto 35px;
}

.useCases-page .steps-item::before {
  display: none;
}

.useCases-page .steps-count {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
}

.useCases-page .steps-count-round {
  margin-bottom: 0;
  margin-right: 12px;
}

.useCases-page .steps-text__title {
  margin-bottom: 20px;
}

.useCases-page .steps-pic {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.useCases-page .steps-aside-link {
  text-align: center;
}

.useCases-page .steps-aside-link__item {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 15px;
  line-height: normal;
  color: #333333;
  display: inline-block;
  vertical-align: middle;
  padding: 12px 20px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
}

.useCases-page .steps-aside-link__item:hover {
  background-color: #dbdbdb;
}

.useCases-page.partner .container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.useCases-page.partner .column:last-child {
  display: block;
}

.useCases-page .partner-text__title {
  font-size: 28px;
  line-height: 40px;
}

.useCases-page .partner-text__subtitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.useCases-page .partner-text__link {
  color: #114626;
  text-transform: uppercase;
  background-color: #FFD305;
  border: 1px solid #E4BC00;
}

.useCases-page .partner-pic {
  position: relative;
  width: 100%;
  padding-bottom: 63.5%;
}

.useCases-page + .contact {
  background: none !important;
}

@media screen and (min-width: 500px) {
  .useCases-page .steps-pic {
    width: 420px;
    height: 315px;
    margin-bottom: 10px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 600px) {
  .useCases-picture {
    float: right;
  }
}

@media screen and (min-width: 700px) {
  .useCases-page.easy {
    margin-top: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .useCases.heading {
    padding: 12px 0;
    margin-bottom: 96px;
  }

  .useCases .tabs {
    flex-direction: column;
    background-color: unset;
    width: 190px;
    flex-shrink: 0;
    align-items: flex-start;
  }

  .useCases .tab-content-title {
    text-align: left;
    margin-bottom: 23px;
  }

  .useCases-heading {
    margin-bottom: 40px;
  }

  .useCases-picture {
    max-width: 500px;
    margin: -70px auto 70px;
  }

  .useCases-description-list {
    margin-bottom: 45px;
  }

  .useCases-page.easy {
    margin-top: 150px;
    padding-bottom: 100px;
  }

  .useCases-page .app-bg {
    height: 150%;
    width: 150%;
  }

  .useCases-page .easy-more::before,
  .useCases-page .easy-more::after {
    display: none;
  }

  .useCases-page .heading {
    margin-bottom: 75px;
    text-align: left;
  }

  .useCases-page .steps {
    margin-bottom: 0;
  }

  .useCases-page .steps-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .useCases-page .steps-cases {
    flex-basis: 65%;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 80px;
    column-gap: 80px;
    -webkit-column-fill: auto;
    column-fill: auto;
  }

  .useCases-page .steps-item:last-child {
    max-width: 330px;
  }

  .useCases-page .steps-item {
    margin: 0 0 71px;
  }

  .useCases-page .steps-pic {
    margin-bottom: 50px;
  }

  .useCases-page.partner .container {
    flex-direction: row;
    text-align: left;
  }

  .useCases-page .partner-text__title {
    font-size: 44px;
    line-height: 63px;
  }

  .useCases-page .partner-text__subtitle {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 17px;
  }

  .useCases-page .partner-text__link:hover {
    background-color: #fff;
    border-color: #fff;
  }

  .useCases-page .partner-pic {
    padding-bottom: 79%;
  }
}

@media screen and (min-width: 1150px) {
  .useCases-page .app-bg {
    height: 120%;
  }
}

@media screen and (min-width: 1200px) {
  .useCases .tab-content {
    padding-bottom: 34px;
  }

  .useCases-picture {
    max-width: 733px;
  }

  .useCases-page.easy {
    padding-bottom: 140px;
  }

  .useCases-page .app-bg {
    width: 100%;
  }

  .useCases-page.steps {
    padding-top: 100px;
  }
}

@media screen and (max-width: 1023px) {
  .useCases-page .app-bg {
    display: none;
  }
}