<footer class="footer" style="background: url('img/footer-bg.png') center top / cover no-repeat;">
    <div class="container">
        <div class="footer-column">
            <a href="javascript:void(0)" class="footer-logo">
                <img src="img/GD-logo.svg" alt="Grow Director logo" class="footer-logo__img">
            </a>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="javascript:void(0)" class="footer-item__link">Features</a>
                </li>
                <li class="footer-item">
                    <a href="javascript:void(0)" class="footer-item__link">Tech specs</a>
                </li>
                <li class="footer-item">
                    <a href="javascript:void(0)" class="footer-item__link">Use cases</a>
                </li>
                <li class="footer-item">
                    <a href="javascript:void(0)" class="footer-item__link">App</a>
                </li>
                <li class="footer-item">
                    <a href="javascript:void(0)" class="footer-item__link">Contact</a>
                </li>
                <li class="footer-item">
                    <a href="javascript:void(0)" class="footer-item__link">About</a>
                </li>
                <li class="footer-item">
                    <a href="javascript:void(0)" class="footer-item__link">Help</a>
                </li>
                <li class="footer-item">
                    <a href="javascript:void(0)" class="footer-item__link">FAQ</a>
                </li>
                <li class="footer-item">
                    <a href="javascript:void(0)" class="footer-item__link">Sync device</a>
                </li>
                <li class="footer-item">
                    <a href="javascript:void(0)" class="footer-item__link">Order</a>
                </li>
            </ul>
            <a rel="stylesheet" href="javascript:void(0)" class="download">
                <img src="img/GP-btn.svg" alt="Get it on Google Play" class="download__icon">
            </a>
        </div>
        <div class="footer-hand" style="background: url('img/footer-hand.png') center bottom / cover no-repeat; "></div>
    </div>
</footer>
